@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family:"poppins";
}
body{
    margin: 0% auto;
}


/* navigation */

nav{
  
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem;
    background-color:#233e50;
    justify-content: space-between;
    align-items: center;
    
}
ul{
    align-items: baseline;
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5rem;
    font-size: 20px;
    
}
ul li a{
    color: #fff;
    text-decoration: none;

}
.btn{
    border: none;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #65e4a3;
}


/* about us */

.about{
    background-color: #012b17;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 4rem 5rem;
    height: 600px;

}
h1{
    font-size: 3rem;
}

p{
    opacity: 0.5;
}

/* hero section */


.hero-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 2rem;
    position: absolute;
    top: 550px;
    width: 50%;
    justify-content: center;

}
.hero-images{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-items>:nth-child(2){
    grid-row: span 2;

}
/* Our story */

.our_story{
    display: flex;
    flex-direction: column;
    margin-top: 600px;
    padding: 0rem 5rem;
    gap: 2rem;
}


.btn-sec{
  display: flex;
  gap: 3rem;
}

button{
    padding: 15px 50px;
    border-radius: 100px;
    background-color: #65e4a3;
    border: none;
    border-color: #65e4a3;
    font-size: 20px;
    font-weight: bold;
}

.button-new{
    background-color: #fff;
    border: solid #65e4a3 2px;

}

.main_num{
    padding: 4rem 5rem;
    margin-top: 3rem;
    text-align: center;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    background-color:#233e50;
    color: #fff;
   
}

.count{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly   ;
}

.data_child h3{
    color: #65e4a3;

}

.ourteam{
    padding: 4rem 5rem;
}

.imgmain{
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 2rem;

}